{% extends '::backend.html.twig' %}

{% block id 'user' %}
{% block title %}Users list{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>PIN</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Subscribed</th>
            <th>Signed up</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.pin }}</td>
            <td>{{ entity.name ~ ' ' ~ entity.surname }}</td>
            <td>{{ 'now'|date('Y') - entity.birthday|date('Y') }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.subscribed ? '<span class="yes">&#10004;</span>' : '<span class="no">&#10008;</span>' }}</td>
            <td>{{ entity.createdAt|fecha('medium') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('backend_user_show', { 'id': entity.id }) }}">Details</a>
                    </li>
                    <li>
                        <a href="{{ path('backend_user_edit', { 'id': entity.id }) }}">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'BackendBundle:Default:paginator.html.twig'  with { 'route': 'backend_user' } only %}

<ul>
    <li>
        <a class="button" href="{{ path('backend_user_new') }}">
            Add a new user
        </a>
    </li>
</ul>
{% endblock %}
