{% extends '::backend.html.twig' %}

{% block id 'offer' %}
{% block title %}Edit {{ entity }} offer{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('backend_offer_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="button" type="submit">Save changes</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('backend_offer') }}">
            Back to list
        </a>
    </li>
    <li>
        <form action="{{ path('backend_offer_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete offer</button>
        </form>
    </li>
</ul>
{% endblock %}
